<%- include('header') -%>

<div class="todos-div">
    <h2><%= data.title %></h2>
    <div class="new-todo-form">
        <form action="/new-todo" method="post">
            <input type="text" class="new-todo-field" placeholder="Create todo" name="todo">
            <button type="submit">+</button>
        </form>
    </div>
    <div class="existing-todos">
        <table>
            <% for (let i = 0; i < data.todos.length; i++) { %>
                <tr>
                    <td class="todo-name"><%= data.todos[i] %></td>
                    <td class="complete"><a href="/complete/<%= i %>"><i class="fa-solid fa-check"></i></a></td>
                    <td class="delete"><a href="/delete/<%= i %>"><i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
            <% } %>
        </table>
    </div>
</div>
<div class="logout-section">
    <button class="logout"><a href="/logout">Logout</a></button>
</div>

<%- include('footer') -%>